.Datatable {
  background-color: #fff;
  position: absolute;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  top: 10px;
  left: 10px;
}