body {
  background: #ddd;
  color: #444;
  cursor: default;
  font-family: "Roboto";
  font-size: 12px;
  height: 100%;
  margin: 0;
  overflow: hidden;
  position: absolute;
  user-select: none;
  width: 100%;

  > .Container {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-condensed-v16-latin-regular.woff') format('woff'),
       url('../fonts/roboto-condensed-v16-latin-regular.woff2') format('woff2')
}